*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body,html{
    width: 100%;
    height: 100%;
}
.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#page1{
    width: 100%;
    height: 100%;
    /* background-color: rgb(81, 80, 80); */
}
#nav{
    /* background-color: blanchedalmond; */
    width: 100%;
    height: 11%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-1,.nav-3{
    width: 30%;
    /* background-color: rgb(137, 137, 191); */
    display: flex;
    align-items: center;
    
}
.nav-1{
    justify-content: space-between;
    margin-left: 3%;
    

}
.nav-1 h4{
    font-size: 14px;
    font-weight: 549;
}
.nav-3{
    justify-content: end;
    margin: 3%;

}
.nav-3 button{
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 22px;
    border: none;
    color: white;
    background-color: black;
    margin: 0 10px;
}
.nav-3 button:nth-child(1){
    background-color: transparent;
    color: black;

}

#nav img{
    height: 70%;
}
#content{
    width: 100%;
    height: calc(100% - 11%);
    /* background-color: rgb(234, 133, 1); */
}
.content-top{
    width: 100%;
    height: 60%;
    /* background-color: gray; */
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.content-top h3{
    /* margin: 40px 0 ; */
    background-color: palevioletred;
}
.content-top h3:nth-child(1){
    background-color: #f2b0ea;
    color: black; 
    padding: 4px 18px ;
    /* margin-bottom: 0; */
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    
    
}
.content-top h3:nth-child(4){
    margin-top: 0;
    color: white;
    font-size: 14px;
    padding: 14px 20px ;
    border-radius: 50px;
    font-weight: 500;
    background-color: rgb(0, 0, 0);
}
.content-top h3:nth-child(3){
    font-weight: 500;
    color: black;
    background-color: transparent;

}
.content-top h1{
    text-align: center;
    font-size: 60px;
     font-family: "Libertinus Serif", serif;
  font-weight: 500;
  font-style: normal;
/* background-color: rebeccapurple; */
}

.ele{
    display: inline-block;
    position: relative;
    width: 15.8%;
    height: 100%;
    /* background-color: red; */
    /* border: 2px solid black; */
    margin-right: 10px;
    border-radius: 20px;
    overflow: hidden;
}
.content-bottom{
    display: inline-block;
    height: 100%;
    width: 100%;
    animation-name: scr;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    
   
}
#scroll::-webkit-scrollbar{
    display: none;
}
#page2{
    height: 100%;
    width: 100%;
    /* background-color: rgb(199, 231, 152); */
}
.ele img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.ele video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
#scroll{
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 40%;
    padding: 10px;
    /* background-color: lightsalmon; */
    
   

}
@keyframes scr{
    to{
        transform: translateX(-100%);


    }
    from{
        transform: translateX(0);

    }
}
.ele .overlay{
    padding: 0 20px;
    height: 40%;
    color: white;
    /* background-color: rgb(208, 113, 113); */
    width: 100%;
    position: absolute;
    bottom: 0;
}
.overlay .flexdiv{
    display: flex;
    gap: 20px;
}
.overlay h4{
    margin-bottom: 5px;
    font-weight: 600;
}

.flexdiv h5{
    font-weight: 400;
    margin-top: 7px;
    border-radius: 50px;
    padding: 5px 7px;
    /* background-color: red; */
    border: 1px solid rgba(255, 255, 255, 0.283);
}
#page2{
    padding:3% 7%;

}
#page2 h1{
    font-size: 3.5vw;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}
.box{
    margin: 30px;
    width: 20%;
    height: 40%;
    position: relative;
    /* background-color: blueviolet; */
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: -40%;
    width: 100%;
    height: 40%;
    background:linear-gradient(transparent,rgba(0, 0, 0, 0.785));
    transition: all ease 0.3s;
    
    
}
.box-bottom h3{
    color: white;
    font-size: 22px;
    font-weight: 600;
    margin-left:10px ;
    
    /* background-color: red; */
}
.box:hover .box-bottom {
    bottom: 0;
    
}
.flex-123{
    display: flex;
}
.box-bottom i{
    margin-right: 3px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.866);
    color: black;
    padding: 5px;
    
    border-radius: 50%;
}
.div i:nth-child(2){
    margin-right: 10px;
}
#page3{
    width: 100%;
    height: 100%;
    margin-top: 1%;
}
.div-1{
    margin-top: 50px;
    width: 100%;
    height: 65%;
    background-color: #FFDA79;
    padding: 4% 4% 0 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-1 h1{
    text-align: center;
    font-size: 4vw;
    font-weight: 500;
    line-height: 4vw;
    margin-bottom: 35px;
}
.page-3p{
    line-height: 25px;
    width: 27%;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

.round{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.round h4{
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 9px 12px;
    margin: 10px;
}
.round h4:nth-child(2){
    background-color: white;
    color: black;
    
}
.inside-3{
    margin-top: 30px;
    display: inline-block;
   width: fit-content;
   font-size: 20px;
}
a{
    color: black;
    font-weight: 400;
    font-size: 18px;
}
.pg-3-scroll{
    width: 100%;
    height: 40%;
    /* background-color: rgb(233, 114, 114); */
    white-space: nowrap;
    padding: 1.5%;
    overflow-x: auto;
    overflow-y: hidden;

}
.pg-3-scroll::-webkit-scrollbar
{
    display: none;
}
.pg-3-container{
    display: inline-block;
    width: 100%;
    height: 100%;
    /* background-color: black; */
       animation-name: scr;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    
}
.img-3{
    /* background-color: red; */
    margin-right: 10px;
    height:100% ;
    width: 19%;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
}
.img-3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
footer{
    padding: 20px;
    height: 30%;
    width: 100%;
    /* background-color: #f2b0ea; */
    margin-top: 40px;
}
.fot-top{
    height: 70%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fot-top img{
    height: 70%;
}
.ftop-1{
    display: flex;
    justify-content: space-around;
    width: 60%;
    align-items: center;

}
.ftop-2{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 20%;
    
}
.ftop-2 i{
    font-size: 25px;
}
.fot-bottom{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* background-color: bisque; */
}
.fbottom-1{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.fbottom-2{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.fot-bottom h5{
    color: rgb(186, 183, 183);
    font-size: 14px;
    font-weight: 500;

}
